#block-text.block
  .content
    %h2.title Привет!
    .inner
      %p.first
        Тут можно редактировать содержание сайта Архитектурной группы ЛИК. ... лалала
        %span.hightlight
          Важно помнить, что все что будет сделано здесь, будет отражено на сайте немедленно, поэтому будь внимателен к тому, что ты собрался сделать
      %hr
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        %span.hightlight
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

-#-content_for :sidebar, partial("base/sidebar")