#block-text.block
  .content
    %h2.title Привет!
    .inner
      %p.first
        Тут можно редактировать содержание сайта Архитектурной группы ЛИК - lik.od.ua ... 
        %span.hightlight
          Важно помнить, что все что будет сделано здесь, будет отражено на сайте немедленно, поэтому будь внимателен к тому, что ты собрался сделать

-#-content_for :sidebar, partial("base/sidebar")