-if !@project.photos.empty?
  .group  
    -@project.photos.each do |photo|
      =image_tag photo.image.thumb
      =button_to pat(:delete), url(:photos, :destroy, :id => photo.id), :method => :delete, :class => :button_to
      
.group
  =f.label :photo
  =f.error_message_on :photo
  =f.file_field :image
  =f.hidden_field :image_cache
  =f.hidden_field :project_id, :value => @project.id
  =f.submit pat(:Загрузить)
