.group
  =f.label :photo
  =f.error_message_on :photo
  =f.file_field :image
  =f.hidden_field :image_cache
  =f.hidden_field :project_id, :value => @project.id
  =f.submit pat(:Загрузить)
  %span.description ВНИМАНИЕ! НЕ НАЖИМАТЬ НА "ЗАГРУЗИТЬ", ЕСЛИ НЕ ВЫБРАНА ФОТКА!!!
