.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active=link_to pat(:list), url(:projects, :index)
      %li=link_to pat(:new), url(:projects, :new)
  .content
    %h2.title
      =pat(:Список_Проектов)
    .inner
      %table.table
        %tr
          %th.first=mat(:project, :id)
          %th=mat(:project, :title)
          %th=mat(:project, :body)
          %th=mat(:photo, :image)
          %th.last="&nbsp;"
        -@projects.each do |project|
          %tr
            %td.first=project.id
            %td=project.title
            %td=project.body
            -unless project.photos.empty?
              -project.photos.each do |photo|
                %td=image_tag photo.image.thumb
            %td.last
              =button_to pat(:edit), url(:projects, :edit, :id => project.id), :method => :get, :class => :button_to
              ="|"
              =button_to pat(:delete), url(:projects, :destroy, :id => project.id), :method => :delete, :class => :button_to
      .actions-bar.wat-cf
        .actions="&nbsp;"

-content_for :sidebar, partial("base/sidebar")
