.group
  =f.label :name
  =f.error_message_on :name
  =f.text_field :name, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :website
  =f.error_message_on :website
  =f.text_field :website, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :image
  =f.error_message_on :image
  =f.file_field :image, :class => :file_field



.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:partners, :index)}';return false", :class => :button