.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:partners, :index)
      %li.active=link_to pat(:new), url(:partners, :new)
  .content
    %h2.title
      =pat(:Добавить_Партнера)
    .inner
      -form_for :partner, url(:partners, :create), :multipart => true, :class => :form do |f|
        =partial "partners/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")