#frame 
  #contact_area
    %h3 Вы можете связаться с нами любым удобным способом:
    %p
      Военный спуск, 1, офис "ЛИК" <br />
      Одесса, Украина, 65082<br />        
      тел/факс: 38 048 7770284<br />
      тел: 38 0482 340960
	  
    %p
    
    -form_tag 'contact_form/message' do 					
      %p
        =text_field_tag :name
        =label_tag :Ваше_имя        
      %p        
        =text_field_tag :subject
        =label_tag :Тема
      %p        
        =text_field_tag :from_email
        =label_tag :Ваш_email
      %p
        =label_tag :Ваше_сообщение
        =text_area_tag :body
      %p
        =submit_tag "Отправить" 