-form_tag 'contact_form/message' do 
  
  %p
    =label_tag :name
    =text_field_tag :name
  %p
    =label_tag :subject
    =text_field_tag :subject
  %p
    =label_tag :email
    =text_field_tag :from_email
  %p
    =label_tag :body
    =text_field_tag :body
  %p
    =submit_tag "Send"