body {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-color: #292524;
  background-color: #cccccc; }

#container {
  background-color: #e6e6e6;
  width: 740px;
  height: 100%;
  padding: 50px 0 50px 0;
  margin: 0px auto;
  text-align: center; }

#frame-top {
  border-top: 1px solid #ec9a94;
  border-left: 1px solid #ec9a94;
  border-right: 1px solid #ec9a94;
  background-color: #fefefe;
  margin: 0px auto;
  width: 460px;
  height: 100%;
  overflow: visible; }

#frame {
  width: 460px;
  height: 100%;
  border-bottom: 1px solid #ec9a94;
  border-left: 1px solid #ec9a94;
  border-right: 1px solid #ec9a94;
  background-color: #fefefe;
  padding: 20px 0 25px 0;
  margin: -15px auto 0; }
  #frame h1 {
    font-size: 1.3em;
    font-weight: lighter;
    padding: 0 40px; }
  #frame img {
    border: 1px solid black; }
  #frame p {
    margin: auto 16px; }

.frame_thumb {
  margin: 0 30px;
  position: relative; }

#images {
  margin: 0px auto 20px;
  position: relative; }
  #images img {
    position: absolute;
    border: 1px solid black;
    left: 0px;
    z-index: 0; }
  #images img.previous {
    z-index: 1; }
  #images img.current {
    z-index: 2; }

#main {
  margin: 0px auto;
  padding-top: 20px;
  width: 460px;
  height: 100%; }
  #main p {
    text-align: justify;
    margin: 5px auto; }
  #main ul {
    margin: 5px auto; }
  #main li {
    width: 100%;
    margin: 5px auto 0 -21px;
    text-align: left;
    list-style-type: none; }
  #main img {
    border: 1px solid black; }

.main_attr {
  font-weight: bold; }

#footer {
  margin: 0px auto;
  padding-top: 10px;
  width: 460px;
  height: 100%; }
  #footer p {
    text-align: left;
    margin: 10px auto 15px 19px; }
  #footer li {
    text-align: left; }
  #footer img {
    border: none; }

#header {
  height: 100%; }
  #header p {
    font-size: 11pt;
    font-weight: lighter;
    margin-top: 110px;
    text-align: center;
    text-transform: uppercase; }

#line {
  height: 1px;
  width: 600px;
  background-color: #ec9a94;
  position: relative;
  top: 100px;
  right: 70px;
  z-index: 1; }

#footer_line {
  height: 1px;
  width: 460px;
  background-color: #ec9a94; }

#copyright {
  padding-top: 5px;
  font-size: 12px; }

.logo {
  float: right;
  margin-right: 132px;
  margin-top: 20px; }

#contact_area {
  padding-left: 10px;
  margin-left: 20px;
  text-align: left;
  width: 400px; }
  #contact_area textarea {
    border: 1px solid #cccccc;
    color: #333333;
    font-size: 12px;
    height: 100px;
    margin: 5px 0 0;
    width: 400px; }
  #contact_area input {
    border: 1px solid #cccccc;
    color: #333333;
    font-size: 12px; }
  #contact_area h2 {
    font-size: 14pt;
    font-color: #ec9a94; }
