=content_for :main do
  #main 
    -@project.photos.each do |photo|
      =link_to image_tag(photo.image.thumb), url(:photos, :images, :name => photo.image.url[8..100]), :class => 'thumb'
    %p=@project.body
