#frame
  -#-project_face
  -@projects.each do |project|
    =link_to image_tag(project.photos.first.image.thumb, :alt => project.title), url(:projects, :show, :id => project.id)

#main 
  -@projects.each do |project|
    =link_to project.title, url(:projects, :show, :id => project.id)
