-content_for :header do
  #header
    =image_tag '/lik_logo.png', :class => 'logo'
    #line 
    %p
      =link_to "Услуги", url_for(:index), :class => 'transition'
      |
      =link_to "Проекты", url_for(:projects_index), :class => 'transition'
      |
      =link_to "О нас", url_for(:about), :class => 'transition'
      |
      =link_to "Обратная связь", url_for(:contact), :class => 'transition'
