#frame
  =image_tag '/Konovalov_Ignatova_Leonov.jpg', :alt => 'Игорь Коновалов, Елена Игнатова, Александр Леонов, архитекторы'
  %h1 Коновалов, Игнатова, Леонов
  
#main  
  %p Наша творческая мастерская зародилась в бурлящие девяностые годы. Проектные институты распадались. В этом хаосе и пепле родился совершенно новый творческий союз трех архитекторов: <b>Л</b>еонова Александра, <b>И</b>гнатовой Елены и <b>К</b>оновалова Игоря – «ЛИК». С огромным багажом работы,  но на то время пока не востребованным, каждый был яркой индивидуальностью и в тоже время дополнением друг друга. 
  %p За плечами опыт работы в крупных проектных институтах ОРБАУ, ГМО, ВП-690. С 1995 года и до настоящего времени в творческой мастерской Архитектурной группы «ЛИК» работало огромное количество архитекторов и инженеров, которые сами стали самостоятельными личностями. 
  %p За многие годы совместной работы выполнены проекты зданий, которые украшают наш город: Дом на Греческой площади – ныне «Мега Антошка»,  жилой дом «Орфей» в  пер. Чайковского, группа жилых домов на ул. Уютной,  жилой дом на пересечении улиц Ясной и Отрадной. Частные дома на Фонтане, Аркадии, Совиньоне. Ресторанный комплекс «Мюнхаузен» в Чабанке, детское кафе «АУ», студенческий центра «Nota Bene», офисный комплекс компании «Европродукт».
  %p Кроме «объемки» и генеральных планов большую часть творческих сил вкладываем в интерьеры частных домов, офисов, ресторанов,  магазинов и квартир.
  %p В наш творческий коллектив вливаются новые молодые сотрудники, средний возраст – 33 года.
  %p После каждой работы с заказчиком остаются не только деловые, но и человеческие отношения. Очень многие заказчики, познакомившись с нами однажды, остаются нашими постоянными клиентами. Можно всегда получить рекомендации о нашей работе.