!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %meta{:name => "keywords", :content => "архитектура, архитекторы, архитектор, архитектура в одессе, проектирование, дизайн, одесса, здания, сооружения, проект,  особняк, частный дом, интерьер, реконструкция, центр, город, вилла, Леонов, Игнатова, Коновалов, ЛИК" }
    %meta{:name => "description", :content => "Проектирование частных вилл и усадеб, жилых многоквартирных и офисных комплексов, жилых, общественных и торговых комплексов в условиях реконструкции центров городов, комплексное решение интерьеров." }    
    %title
      ="Архитектурная группа ЛИК"
      
    =stylesheet_link_tag 'lik'
    =javascript_include_tag 'jquery', 'ajax'
            
  %body
    #container
      #frame-top
        =yield_content :header, partial("layouts/navi")    
      =yield
         
      =partial 'layouts/footer'
