!!! Strict
%html{:lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Архитектурная группа ЛИК
    =stylesheet_link_tag 'lik'
    =javascript_include_tag 'jquery', 'application'
    :javascript
      $(function() {
          $('#images').cycle();
      });
      
  %body
    #container
      #frame-top
        =yield_content :header, partial("layouts/navi")    
      =yield
         
      =partial 'layouts/footer'    

