-lik_face
#frame
  #images
    -@face_images.each do |img|
      =image_tag img.image, :alt => 'LIK'
  
#main
  %p
    <b>Проектирование:</b>
    %ul 
      %li Частных вилл и усадеб класса де-Люкс с комплексным решением интерьеров
      %li Интерьеров и аппартаментов представительского класса
      %li Жилых многоквартирных комплексов
      %li Офисных комплексов класса А и Премиум
      %li Интерьеров офисных комплексов   
      %li Жилых, общественных и торговых комплексов в условиях реконструкции центров городов

  %p
    Разаработка проектов реконструкции зданий и сооружений; приспособление к новым функциям зданий в условиях исторической застройки
