%p
  Проектирование: 
  %liЧастных вилл и усадеб класса де-Люкс с комплексным решением интерьеров
  %liИнтерьеров и аппартаментов представительского класса
  %liЖилых многоквартирных комплексов
  %liОфисных комплексов класса А и Премиум
  %liИнтерьеров офисных комплексов   %liЖилых, общественных и торговых комплексов в условиях реконструкции центров городов

%p
Разаработка проектов реконструкции зданий и сооружений; приспособление к новым функциям зданий в условиях исторической застройки
